<footer class="text-center lg:text-left bg-gray-900 text-white">
   <!-- Social Media Section -->
   <section class="container mx-auto flex justify-center lg:justify-between p-4">
      <div class="mr-5 hidden lg:block">
         <span>Get connected with us on social networks:</span>
      </div>
      <div>
         <a href="https://winodh-prasanna.github.io/My-Portfolio/" target="_blank"
            class="mr-4 text-white hover:text-red-300">
            <i class="bi bi-globe2 hover:text-yellow-500"></i>
         </a>
         <a href="https://www.facebook.com/share/16aijDoaA4/" target="_blank" class="mr-4 text-white">
            <i class="bi bi-facebook hover:text-yellow-500"></i>
         </a>
         <a href="https://youtube.com/@wp_programer?si=9XPLNUflSCytejky" target="_blank" class="mr-4 text-white">
            <i class="bi bi-youtube hover:text-yellow-500"></i>
         </a>
         <a href="https://www.linkedin.com/in/winodh-prasanna/" target="_blank" class="mr-4 text-white">
            <i class="bi bi-linkedin hover:text-yellow-500"></i>
         </a>
         <a href="https://github.com/WINODH-PRASANNA" target="_blank" class="mr-4 text-white">
            <i class="bi bi-github hover:text-yellow-500"></i>
         </a>
      </div>
   </section>

   <!-- Main Content Section -->
   <section class="">
      <div class="container mx-auto text-center md:text-left mt-5 px-4">
         <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mt-3">
            <!-- Company Info -->
            <div class="md:col-span-1 lg:col-span-1 mb-4 max-w-xs mx-auto md:mx-0">
               <h6 class="uppercase font-bold mb-4 hover:bg-yellow-500 inline-block px-2 py-1 rounded">
                  <i class="bi bi-cart4"></i> ClickCart Shopping
               </h6>
               <p class="mt-2">
                  clickcartshopping.com is a one stop destination for your family's fashion needs.
                  We give you the opportunity to give your wardrobe a makeover with the latest collections from our top
                  brands.
               </p>
            </div>

            <!-- Make Money -->
            <div class="md:col-span-1 mb-4 max-w-xs mx-auto md:mx-0">
               <h6 class="uppercase font-bold mb-4 underline">Make Money with Us</h6>
               <p><a href="#!" class="text-white hover:text-yellow-500 block mb-2">Sell on ShopKart</a></p>
               <p><a href="#!" class="text-white hover:text-yellow-500 block mb-2">Advertise Your Products</a></p>
               <p><a href="#!" class="text-white hover:text-yellow-500 block mb-2">Become an Affiliate</a></p>
               <p><a href="#!" class="text-white hover:text-yellow-500 block mb-2">Fulfilment by ShopKart</a></p>
            </div>

            <!-- Useful Links -->
            <div class="md:col-span-1 mb-4 max-w-xs mx-auto md:mx-0">
               <h6 class="uppercase font-bold mb-4 underline">Useful links</h6>
               <p><a href="#!" class="text-white hover:text-yellow-500 block mb-2">FAQ</a></p>
               <p><a href="#!" class="text-white hover:text-yellow-500 block mb-2">Feedback</a></p>
               <p><a href="#!" class="text-white hover:text-yellow-500 block mb-2">About Us</a></p>
               <p><a href="#!" class="text-white hover:text-yellow-500 block mb-2">Contact Us</a></p>
            </div>

            <!-- Contact Info -->
            <div class="md:col-span-1 lg:col-span-1 mb-4 max-w-xs mx-auto md:mx-0">
               <h6 class="uppercase font-bold mb-4 underline">Contact</h6>
               <p class="flex items-center mb-2">
                  <i class="bi bi-person-gear mr-2"></i> Winodh Prasanna
               </p>
               <p class="flex items-center mb-2">
                  <i class="bi bi-envelope-at mr-2"></i> winodh.prasanna.blog@gmail.com
               </p>
               <p class="flex items-center mb-2">
                  <i class="bi bi-telephone mr-2"></i> 076 311 4977
               </p>
            </div>
         </div>
      </div>
   </section>

   <!-- Copyright -->
   <div class="text-center p-4 bg-gray-800">
      &copy; 2025 Copyright <a class="text-white hover:text-yellow-500 font-bold"
         href="https://winodh-prasanna.github.io/My-Portfolio/" target="_blank">
         Winodh Prasanna</a>
   </div>
</footer>
